services:
  app:
    build:
      context: .
      target: production
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - ..env.production
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:${PORT:-3000}/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
